<div fxLayout="column" fxLayout.gt-xs="row wrap" fxFlex="100">
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
    <angular-image-slider class="img-slider" [autoRotate]="true" [autoRotateAfter]="5000" [autoRotateRight]="true"
      [images]="imgTitle">
    </angular-image-slider>
  </div>

  <div fxFlex="100" fxFlex.gt-xs="15" *ngFor="let item of students">
    <mat-card class="example-card" (click)="openDialog(item.id,item)">
      <h2 class="text-ellipsis">{{item.titlename}}</h2>
      <p class="text-subtitle">{{item.subtitlename}}</p>
      <img class="mat-card-image" [src]="item.img">
      <mat-card-content>
        <h4>รายละเอียด</h4>
        <p class="text-ellipsis">{{item.about}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
